<!DOCTYPE html>
<html>
  <head>
      {% include header.ext %}
      <title>
        {{ page.title }}
      </title>
   </head>
   <body>
       {% include navbar.ext %}
     <div class="container">
       <div class="row">
         <div class="span9">
             {% for post in site.posts limit 4 %}
	     	{% include post_sum.ext %}
             {% endfor %}
           {% include footer.ext %} 
         </div>
         <div class="span3">
           <div data-spy="affix">
	     <header class="header">
               <h3 class="title">About the author</h3>
             </header>
           </div>
         </div>
       </div>
     </div>
   </body>
 </html>

