<!DOCTYPE html>
<html>
  <head>
      {% include header.ext %}
      <title>
        {{ page.title }}
      </title>
   </head>
   <body>
       {% include navbar.ext %}
     <div class="container">
       <div class="row">
         <div class="span12">
           <content>
	   <header class="header">
           <div class="row-fluid">
             <div class="span10">
               <h2 class="title">
		       {{ page.tagline }}
               </h2>
             </div>
           </div>
           </header>
	     {{ content }}	 
  	   </content>	   
	   {% include footer.ext %} 
         </div>
       </div>
     </div>
   </body>
 </html>

