<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link rel="stylesheet" href="/resource/css/bootstrap.css">
    <link href="/resource/css/custom.less" type="text/css" rel="stylesheet/less">
    <script src="/resource/js/jquery.js"></script><script src="/resource/js/bootstrap.js"></script>
    <script type="text/javascript" src="/resource/js/less.js"></script>
    <link rel="stylesheet" href="/resource/css/bootstrap.css">
    <title>
      {{ post.title }}
    </title>
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
       })();
     </script>

   </head>
   <body>
     <div class="navbar navbar-fixed-top">
       <div class="navbar-inner">
         <div class="container">
		 <a href="/" class="brand">{{ site.title }}</a>
           <div class="nav-collapse">
             <ul class="nav">
		{% include sections.ext %}

             </ul>
           </div>
         </div>
       </div>
     </div>
     <div class="container">
       <div class="row">
         <div class="span9">
	   {% include post.ext %}
	   {% include social_horiz.ext %}
	   {% include disqus.ext %}
	   {% include footer.ext %}
         </div>
         <div class="span3">
           <div data-spy="affix">
             <div id="otherposts">
               <header class="header">
               <h3 class="title">Other posts</h3>
               </header>
	       {% include posts.ext %}
               {% include author.ext %}
             </div>
           </div>
         </div>
       </div>
     </div>
     <script type="text/javascript">

         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-38462231-1']);
         _gaq.push(['_trackPageview']);

         (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

   </script>
   </body>
 </html>

